<div class="row justify-content-center" style="background-color: #F8EFBA;">
    <h1 class="display-3 text-center my-lg-0">Countries Wise<span style="color: #ea8685;"> COVID-19</span> Cases</h1><br>
</div>
<div class="ui grey three item inverted menu my-0">
    <a class="active item" routerLink="countiries-global-data" routerLinkActive="active">
        Statistics & Charts
    </a>
    <a class="item" routerLink="countries-data" routerLinkActive="active">
        More....
    </a>
  </div>
<router-outlet></router-outlet>

