<div class="row justify-content-center" style="background-color: #F8EFBA;">
    <h1 class="display-3 text-center my-lg-0">Countries Wise<span style="color: #ea8685;"> COVID-19</span> Cases</h1><br>
</div>
<nav class="nav nav-tabs nav-stacked bg-dark">
    <a class="nav-link" routerLink="countiries-global-data" routerLinkActive="active" >Statistics & Charts</a>
    <a class="nav-link" routerLink="countries-details" routerLinkActive="active">Table of changing cases</a>
    <a class="nav-link" routerLink="countries-data" routerLinkActive="active" >Country Cases</a>
</nav>
<router-outlet></router-outlet>

