<!--- Connect -->
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-12">
            <h2 class="badge-primary lg-sm" style="color: #000;">Connect</h2>
        </div>
        <div class="col-12 social padding">
            <a href="#"> <i class="fab fa-facebook-f"></i> </a>
            <a href="#"> <i class="fab fa-twitter"></i> </a>
            <a href="#"> <i class="fab fa-google-plus-g"></i> </a>
            <a href="#"> <i class="fab fa-instagram"></i> </a>
            <a href="#"> <i class="fab fa-youtube"></i> </a>
        </div>
    </div>
</div>
<!--- Footer -->
<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <a class="navbar-brand" href="#" routerLink="home"><i class="fas fa-viruses"></i><span style="color:Red; font-size:20px;"> Covid-19</span> coronavirus</a>
                <hr class="light">
                <p>251-587-658-555</p>
                <p>covid-19@gmail.com</p>
                <p>101, street IBN SINA </p>
                <p>MOROCCO, RABAT 10001</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
              <h5>Conect Us</h5>
                <div class="col-12 social padding">
                    <a href="#"> <i class="fab fa-facebook-f"></i> </a>
                    <a href="#"> <i class="fab fa-twitter"></i> </a>
                    <a href="#"> <i class="fab fa-google-plus-g"></i> </a>
                    <a href="#"> <i class="fab fa-instagram"></i> </a>
                    <a href="#"> <i class="fab fa-youtube"></i> </a>
                </div>
            </div>
            <div class="col-md-4">
                <hr class="light">
              <h5>Service Area</h5>
                <hr class="light">
                <p>101, street wnster </p>
                <p>101, street wnster </p>
                <p>101, street wnster </p>
                <p>101, street wnster </p>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h5>© Medone.com</h5>
            </div>
        </div>
    </div>
</footer>

