<div class="row mx-auto">
    <div class="card col p-3 m-3" style="background-color: #63cdda; width: 400px; border-radius: 20px;">
        <div class="ui statistic" >
            <div class="label">
              <h3>Confermed</h3>
            </div>
            <div class="value">
              {{ totalConfirmed }}
            </div>
          </div>
    </div>
    <div class="card col p-3 m-3" style="background-color:#778beb; border-radius: 20px;">
        <div class="ui statistic">
            <div class="label">
              <h3>Recovered</h3>
            </div>
            <div class="value">
                {{totalRecovered}}
            </div>
          </div>
    </div>
</div>
<div class="row mx-auto">    
    <div class="card col p-3 m-3" style="background-color: #786fa6; border-radius: 20px;">
        <div class="ui statistic">
            <div class="label">
                <h3>Deaths</h3>
            </div>
            <div class="value">
                {{totalDeaths}}
            </div>
          </div>
    </div>
    <div class="card col p-3 m-3" style="background-color:#f19066; border-radius: 20px;">
        <div class="ui statistic">
            <div class="label">
              <h3>Active</h3>
            </div>
            <div class="value">
                {{totalActive}}
            </div>
          </div>
    </div>
</div>

